@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.nav-wrapper {
    background-color: rgb(118, 118, 128);
    font-family: 'lobster', 'sans-serif';
    
}

.masthead {
    font-family: 'lobster', 'sans-serif';
}