<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{  url_for('static', filename=css/style.css')  }}" type="text.css">
   
    
    <title>Cocktails At Home</title>
</head>
<body>
     <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Cocktails At Home</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="base.html">Home</a></li>
        <li><a href="cocktails.html">Cocktails</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="mobile.html">Register</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="base.html">Home</a></li>
    <li><a href="cocktails.html">Cocktails</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="mobile.html">Register</a></li>
  </ul>

   <div class="carousel">
    <a class="carousel-item" href="cocktail"><img src="..static/img/homepage.jpg"></a>
    <a class="carousel-item" href="#two!"><img src= "https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div>

{% block content %}
    {% endblock %}

   
       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{  url_for('static', filename='js/script.js')  }}"></script>
    {% block scripts %}
    {% endblock %}
    
</body>
</html>